{
    "extends": [
        "airbnb-base"
    ],
    "env": {
        "jest": true
    },
    "rules": {
        "indent": [2, 4, { "SwitchCase": 1 }],
        "new-cap": 0,
        "max-len": 0,
        "eol-last": 0,
        "spaced-comment": 0
    },
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    }
}